
@import "mixins";

[class^="overlay-"],
[class*="overlay-"] {
  @include position-fixed(100%, 100%, 0, 0, 0, 0);

  z-index: 9999;
}

.overlay-loader {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #222;

  .loader-text {
    color: #fefefe;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}